<dl class="author"><dt>著者</dt>
  <% @author.each do |a| %>
  <dd><%= a %></dd>
  <% end %>
</dl>
<dl><dt>作成者</dt><dd><%= @bibtex.creator.screen_name %></dd></dl>
<p>
  <a href="/api/bibtex/<%= @bibtex.id %>.bib">
    BibTeXをダウンロード
  </a>
  <% if @user %>
  <%= export_button(@user ,@bibtex) %>
  <% end %>
</p>
<% if login? %>
コメント：<br>
<form action="/api/bibtex/comment/add" id="commentPostForm">
  <textarea id="commentText" name="comment" rows="10" cols="50"></textarea>
  <input type="hidden" value="<%= @bibtex.id %>" name="bibtex_id">
  <input type="submit" value="送信">
</form>
<% end %>
<ul id="commentList">
  <% @bibtex.comments.all(:order => :created_at.desc).each do |comment|%>
  <li> <%= comment_tag(comment) %></li>
  <% end %>

</ul>
