<h3>最近追加された論文</h3>
<% if @bibtex %>
<table class="table bibtex">
  <thead>
    <tr>
      <th class="title">タイトル</th>
      <th class="author">著者</th>
      <th class="year">発表年</th>
      <th class="journal">ジャーナル</th>
      <th class="created_at">登録日</th>
    </tr>
  </thead>
  <tbody>

    <% @bibtex.each do |b| %>
    <tr>
      <td><a href="/bibtex/<%= b.id %>"><%= b.title %></a><br><br><%= export_button @user, b %>
      </td><td><%= b.author.split(/\s+and\s+/).first %>
      </td><td class="year"><%= b.year %>
      </td><td><%= b.journal %>
      </td><td><%= b.created_at %></td>

    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
