<h3>最近追加された論文</h3>
<% if @bibtex %>
<table class="table bibtex">
  <thead>
    <tr>
      <th class="title"><a href="#">タイトル</a></th>
      <th class="author"><a href="#">著者</a></th>
      <th class="year"><a href="#">発表年</a></th>
      <th class="journal"><a href="#">ジャーナル</a></th>
      <th class="created_at"><a href="#">登録日</a></th>
    </tr>
  </thead>
  <tbody>

    <% @bibtex.each do |b| %>
    <tr>
      <td>
        <a href="/bibtex/<%= b.id %>"><%= b.title %></a><br><br>
        <% if login? %>
        <%= export_button @user, b %>
        <% end %>
      </td>
      <td>
        <%= b.author.split(/\s+and\s+/).first %>
      </td>
      <td class="year">
        <%= b.year %>
      </td>
      <td>
        <%= b.journal %>
      </td>
      <td>
        <%= b.created_at %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
