<h3>最近追加されたコメント</h3>
<% if @comments %>
<table class="table-striped comments">
  <thead>
    <tr>
      <th class="comment"><a href="#">コメント</a></th>
      <th class="creator"><a href="#">著者</a></th>
      <th class="created_at"><a href="#">書き込み日</a></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |c| %>
    <tr>
      <td>
        <%=h c.comment %><br/>
        "<a href="/bibtex/<%=h c.bibliography.id %>"><%=h c.bibliography.to_bibtex.title %></a>"
      </td>
      <td><%=h c.creator.screen_name %></td>
      <td><%=h c.created_at.localtime.strftime("%Y %m/%d %H:%M") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
