<h3>最近追加されたコメント</h3>
<% if @comments %>
<table class="table-striped comments">
  <thead>
    <tr>
      <th class="comment"><a href="#">コメント</a></th>
      <th class="creator"><a href="#">著者</a></th>
      <th class="created_at"><a href="#">書き込み日</a></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |c| %>
    <tr>
      <td><%= c.comment %> <br>"<a href="/bibtex/<%= c.bibliographys_id %>"><%= Bibliography.find_by_id(c.bibliographys_id).to_bibtex.title %></a>" </td>
      <td><%= c.creator.screen_name %></td>
      <td><%= c.created_at.localtime.strftime("%Y %m/%d %H:%M'%S") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
